/*.profileStyle {
  position: fixed;
  width: inherit;
  min-height: 100vh;
  background: rgb(0,0,0);
  color: #fff;
}

.flexContainer {
  flex: 1 1 0%;
  width: 300px;
}*/

.profileStyle{
  /*background-color:rgba(100, 0, 255, 0.3);*/
  background: #000;
}

.headerStyle {
  text-align: center;
  top: auto;
  padding: 0.5em;
  height:25px;
}

.headerStyle>span{
  float:left;
}

.imgStyle {
  border: 1.5px solid #fff;
  border-radius: 23px;
  width: 25px;
  margin: 0;
}

.nameStyle {
  font-weight: 200;
  color: #fff;
  float: right;
  margin: 3px 0 0px 7px;
  font-size:1.4em;
}

.countStyle {
  margin: 0;
  color: rgb(176, 202, 219);
  font-weight: 300;
}

.searchInput {
  color: black;
  margin-top: 5px;
  box-sizing: border-box;
  padding: .5em;
  width: 75%;
  border-radius: 3px;
  border: 1px solid #aaa;
}

/*@media (max-width: 1050px) {*/
  .profileStyle {
    position: static;
    width: auto;
    min-height: initial;
    background: #000;
  }

  .flexContainer {
    flex: 1 1 100%;
    width: auto;
  }
/*}*/