<div className="goldenforms-pro">
    <div className="goldenforms-wrapper">
        <div class="frm-section colm colm6">
            <div class="uit-rating-wrapper">
                <span> Services </span>
                <div class="uit-rating">
                    <input type="radio" id="star-a1" name="services" value="5" checked=""/>
                    <label class="sta-full" for="star-a1"><span>5 Stars</span></label>
                    <input type="radio" id="star-a2" name="services" value="4.5"/>
                    <label class="sta-half" for="star-a2"><span>4.5 Stars</span></label>
                    <input type="radio" id="star-a3" name="services" value="4"/>
                    <label class="sta-full" for="star-a3"><span>4 Stars</span></label>
                    <input type="radio" id="star-a4" name="services" value="3.5"/>
                    <label class="sta-half" for="star-a4"><span>3.5 Stars</span></label>
                    <input type="radio" id="star-a5" name="services" value="3"/>
                    <label class="sta-full" for="star-a5"><span>3 Stars</span></label>
                    <input type="radio" id="star-a6" name="services" value="2.5"/>
                    <label class="sta-half" for="star-a6"><span>2.5 Stars</span></label>
                    <input type="radio" id="star-a7" name="services" value="2"/>
                    <label class="sta-full" for="star-a7"><span>2 Stars</span></label>
                    <input type="radio" id="star-a8" name="services" value="1.5"/>
                    <label class="sta-half" for="star-a8"><span>1.5 Stars</span></label>
                    <input type="radio" id="star-a9" name="services" value="1"/>
                    <label class="sta-full" for="star-a9"><span>1 Star</span></label>
                    <input type="radio" id="star-a0" name="services" value="0.5"/>
                    <label class="sta-half" for="star-a0"><span>0.5 Stars</span></label>
                </div>
            </div>
        </div>
        <div class="frm-section">
            <label class="field">
                <textarea class="uit-textarea"></textarea>
                <span class="text-hint">
                    <strong>Hint:</strong> Don't be negative - Just be awesome!
                </span>
            </label>
        </div>
        <div class="frm-footer">
            <button type="submit" class="uit-button btn-blue"> Submit option</button>
            <button type="reset" class="uit-button"> Reset Button</button>
        </div>
    </div>
</div>
