
@media (max-width: 1050px){
    body#apprspctivbody{
        max-width: 100%;!important;
    }
}
@media (min-width: 1051px){
    body#apprspctivbody{
        max-width: 100%;!important;
    }
}

#apprspctiv .todoapp h1{
    color: rgba(30,175,200,.4);
}

#findfacebookfriends{
    font-size: 14px;
    font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
}

#apprspctiv .opdataSearchInput{
    line-height: normal;
    width: 100%;
    height: 50px;
    font-size: 2em;
    text-align: center;
}